.App {
  text-align: center;
}

.showFirework{
  display: none;
}
.hideFirework{
  display:block;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* body {
  background-color: black;
} */

/* #square {
  background-color: black; */
  /* width: 200px;
  height: 200px; */

/* } */

#bulbImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;




}

#switchImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;


}

.theLightDiv{
  margin-top:150px;
}

.bulbOn{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow:
      inset 0 0 50px #fff,      /* inner white */
      inset 20px 0 80px #f0f,   /* inner left magenta short */
      inset -20px 0 80px #0ff,  /* inner right cyan short */
      inset 20px 0 300px #f0f,  /* inner left magenta broad */
      inset -20px 0 300px #0ff, /* inner right cyan broad */
      0 0 50px #fff,            /* outer white */
      -10px 0 80px #f0f,        /* outer left magenta */
      10px 0 80px #0ff;         /* outer right cyan */
}

.bulbOff{
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

body {
  background-color: white;
}

footer {
  padding: 5em;
  font-family:'Patrick Hand', cursive;
  font-weight: 1;
  text-align: center;
  font-size: 40px;
  color: black
}
