.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.background{
  /* background-image: url("./images/escape-from-flavortown-module.jpg"); */
  /* height: 1200px;
  width: 750px; */
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
h1{
  font-family: 'Almendra', serif;
  text-align: center;
  font-size: 60px;
  color: white;
  line-height: 50px;
  max-width: 400px;
}
h3 {
  font-family: 'Almendra', serif;
  font-size: 30px;
  text-align: center;
  color: white;
}

#diceCaption {
  width: 200px;
  font-size: 15px;
}

.diceImage {
  width: 200px;
  height: 200px;
}

.dice {
  margin-right: 20px;
}

.previousRolls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
}

.diceImage:active {
  animation: shake 0.4s;
  animation-iteration-count: infinite;
}

.previousDieFaces {
  width: 75px;
  height: 75px;
}

.lowerContent{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
}

.previousDice {
  margin: 0px;
}

#diceBox {
  width: 200px;
  height: 200px;
}


#clearButton {
  font-size: 30px;
  font-family: 'Almendra', serif;
  margin-top: 30px;
}

#diceRollerBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content:center;
  margin-top: 10px;
}

#titlePortion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
  font-family: 'Almendra', serif;
  font-size: 30px;
  max-width: 330px;
  text-align: center;
  margin-top: 0px;
  background-color: white;
}

#headerImage {
  width: 400px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
